// variables and mixins and animations

$white: #ffffff;
$black: #000000;
$marigold: #ffc001;
$yellow: #ffc004;


@mixin text($size,$lineHeight, $letterSpace, $color){
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: $size;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: $lineHeight;
    letter-spacing: $letterSpace;
    color: $color;
}

@keyframes expand{
    0%{
        background-color: $marigold;
        opacity: 0;
        transform: translateX(-100px);
    }
    25%{
        background-color: $marigold;
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
        background-color: none;
    }
}